/*! Общие стили */
.bg-grey
  background-color #f8f8f8

.bg__right
  background-image url(../images/bg__right.png)
  background-position right bottom
  background-repeat no-repeat

.bg__right2
  background-image url(../images/bg__right2.png)
  background-position right center
  background-size contain
  background-repeat no-repeat
/*! /Общие стили */
