extends ../templates/template-simple

block content  
  // Header 
  +header__simple('about__header-bg', 'О нас')
  // /Header 
  .bg__right.bg-grey
    +breabcrumbs()
    // Контент
    // Сео текст
    .container
      .row
        .col-12
          .gosustroy__intro Целью нашего портала является формирование наиболее полной и качественной базы данных о законодательстве Китая, а также о наиболее востребованных Интернет-ресурсах, посвященных нормативно-правовой базе Китая, изучению китайского языка, а также другим аспектам жизни Китая. Сайт будет интересен востоковедам, студентам, аспирантам и соискателям, а также всем, кто интересуется Китаем.
      .about__persons
        .row.pt-5.pb-5.justify-content-around.justify-content-lg-between
          +about__item()
          +about__item()
          +about__item()
      .row.pb-5
        .col-12.col-lg-6
          .about__cooperation.pr-5
            .about__cooperation-ttl Сотрудничество
            .about__cooperation-txt Мы готовы предложить различные формы сотрудничества на бесплатной и платной основе компаниям, университетам, специалистам и частным лицам, работающим или интересующимся Китаем или китайским языком: публикацию объявлений о Вашей компании, продуктах или услугах; публикацию ознакомительных статей об университетах и прочих учебных заведениях, о предлагаемых ими курсах, программах, семинарах и вебинарах;публикацию информации о специалистах-китаеведах, экономистах, политологах, прочих учёных, специализирующихся на изучении Китая, их научных трудах; размещение ссылок на сайты интернет-магазинов, личных страниц специалистов, университетов и т.д.
        .col-12.col-lg-6
          .about__support.pl-0.pl-lg-4
            .about__support-ttl Поддержать проект
            .about__support-txt Если вам понравился наш проект, вы можете поддержать его, перечислив любую сумму через форму ниже
            .about__support-form
              iframe(class="iframe iframe_name_fastpay-preview i-bem iframe_js_inited" src="https://money.yandex.ru/fastpay/preview?formData=%7B%22isGov%22%3Afalse%2C%22tax%22%3Afalse%2C%22submit%22%3A%22%D0%97%D0%B0%D0%BF%D0%BB%D0%B0%D1%82%D0%B8%D1%82%D1%8C%22%2C%22activeCategory%22%3A0%2C%22categories%22%3A%5B%7B%22name%22%3A%22%D0%A2%D0%BE%D0%B2%D0%B0%D1%80%20%D0%B8%D0%BB%D0%B8%20%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B0%20%E2%84%961%22%2C%22sum%22%3Anull%2C%22fields%22%3A%5B%5D%7D%5D%7D" width="100%" height="300")
        
  // УТП
  .main__utp
    +utp1('Качественные переводы с китайского языка', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке', 'Оформить заявку', 'main-utp-btn')
  // /УТП
  .main__bg-bottom
    .container
      .row
        .col-12
          .gos-standarts__adv-full-width-wrap
            +advFullWidth()
  // /Контент
