//! Бюро переводов - внутренняя
.buro__preimusch
  background-color #9eb45a
  padding 30px 0

.buro__preimusch-ttl
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content space-between
  align-items center

.buro__preimusch-ttl-txt
  flex-grow 1

.buro__preimusch-ttl-icon
  flex-basis 183px
  position relative

.buro__preimusch-ttl-icon-img
  position absolute
  top 50%
  transform translateY(-60%)
  left 0

.buro__preimusch-ttl
  .title-left
    padding-right 40px
  @media screen and (max-width 992px)
    .title-left
      padding-right 0
  .title-left__text
    font-size 30px
    line-height 30px
    font-weight 600
    color #fff
  .title-left__line:before
    border-color #fff

.buro__preimusch-items-item-txt
  color #fff
  font-size 20px
  line-height 20px
  font-weight 600

.buro__preimusch-items
  padding-top 10px
  max-width 900px

.buro__preimusch-items-item
  display -webkit-flex
  display -ms-flex
  display flex
  align-items center
  margin 20px 0

.buro__preimusch-items-item-icon
  margin-right 30px

.buro__prices-ttl
  .title-left__text
    font-size 30px
    color #494949
    font-weight 600

.buro__prices-item
  shadowTxtBlocks()
  background-color #f3f3f3
  height 100%

.buro__prices-spec-prop
  shadowTxtBlocks()
  background-color #f3f3f3
  padding 20px 60px 10px

.buro__prices-item-ttl
  font-size 24px
  line-height 24px
  font-weight 600
  color #fff
  background-color #9eb45a
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content center
  align-items center
  height 80px
  text-align center

.buro__prices-item-txt
  color #343434
  font-size 16px
  line-height 20px
  font-weight 300
  padding 30px 20px

.buro__prices-item-special
  .buro__prices-item-ttl
    background-color #d3cc03
    color #234400
    font-weight 600
    background-color #d3cc03

.buro__prices-spec-prop-ttl
  color #3b3b3b
  font-size 30px
  line-height 30px
  font-weight 600
  text-align center
  margin-bottom 20px

.buro__prices-spec-prop-txt
  font-size 18px
  line-height 24px
  color #343434

@media screen and (max-width 1200px)
  .buro__prices-item-ttl
    font-size 20px
@media screen and (max-width 550px)
  .buro__prices-spec-prop
    padding 20px 20px 10px
//! /Бюро переводов - внутренняя
