extends ../templates/template-simple

block content  
  // Header 
  +header__simple('doska__header-bg', 'Доска объявлений')
  // /Header 
  .doska.bg-grey.pb-5
    .bg__right
      +breabcrumbs()
      // Контент
      .container
        .row.mt-5
          .col-12.col-md-4.mb-5.mb-md-0
            +sideMenu()
            .doska__big-red-button-wrap.mt-4.mb-4
              +bigRedButton()
          .col-12.col-md-8
            // Текст объявления
            .side-text-right
              .side-text-right__ttl
                +ttl-left('Предоставляю услуги по переводу с Китайского')
              .doska-inner__description.mb-4.mt-4.flex-column.flex-lg-row
                .doska-inner__description-photo(style='background-image: url(images/doska-inner__img.jpg)').mb-3
                .doska-inner__description-txt
                  .doska-inner__description-txt-row
                    .doska-inner__description-txt-row-ttl Рубрика: 
                    .doska-inner__description-txt-row-txt Рубрика 1
                  .doska-inner__description-txt-row
                    .doska-inner__description-txt-row-ttl Местоположение: 
                    .doska-inner__description-txt-row-txt г.Москва
                  .doska-inner__description-txt-row
                    .doska-inner__description-txt-row-ttl Опыт работы: 
                    .doska-inner__description-txt-row-txt Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста.
              .side-text-right_txt
                p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
                p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
                p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
                p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
            // /Текст объявления
              
      // /Контент
    
  // УТП
  +utp1('Качественные переводы с китайского языка', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке', 'Оформить заявку', 'take-order')
  // /УТП
  .main__bg-bottom
    .container
      .row
        .col-12
          .gos-standarts__adv-full-width-wrap
            +advFullWidth()
  // /Контент
