//! Доска объявлений - внутренняя
.doska-inner__description-photo
  width 100%
  max-width 300px
  height 200px
  background-size cover
  background-position center
  background-repeat no-repeat

.doska-inner__description
  display -webkit-flex
  display -ms-flex
  display flex
  align-items center

.doska-inner__description-txt-row-ttl
  display inline-block
  float left
  padding-right 7px
  color #739214
  font-size 18px
  font-weight 600

.doska-inner__description-txt
  display inline-block
  padding-left 25px
  font-size 18px
  color #343434
//! /Доска объявлений - внутренняя
