//! Гос. устройства
.gosustroy__header-bg
  background-image url('../images/header__gosustroy.png')

.gosustroy__intro
  font-size 20px
  line-height 20px
  font-weight 300

.side-text-right__ttl
  margin-bottom 10px

.side-text-right__ttl .title-left__text
  font-size 30px
  color #000
  font-weight 600

.side-text-right_txt
  font-size 16px
  color #343434
  font-weight 300
//! /Гос. устройства
