extends ../templates/template-simple

block content  
  // Header 
  +header__simple('gosustroy__header-bg', 'Государственное устройство')
  // /Header 
  .bg__right
    +breabcrumbs()
    // Контент
    .container
      .row
        .col-12
          .gosustroy__intro Мы специализируемся на выполнении письменных переводов с китайского языка и предоставлении сопутствующих услуг. Благодаря многолетнему опыту работы мы в быстрые сроки и качественно осуществим перевод Ваших документов.
      .row.mt-5.mb-5
        .col-12.col-md-4.mb-5.mb-md-0
          +sideMenu()
        .col-12.col-md-8
          .side-text-right
            .side-text-right__ttl
              +ttl-left('СЕО Заголовок')
            .side-text-right_txt
              p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
              p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
              p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
              p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
    // /Контент
    
  // УТП
  +utp2()
  // /УТП
  .main__bg-bottom
    .container
      .row
        .col-12
          .gos-standarts__adv-full-width-wrap
            +advFullWidth()
  // /Контент
