//! Праздники - Главная
.holiday__text
  background-color #f3f3f3
  shadowTxtBlocks()
  width 100%
  padding 20px 30px

.holidays__banner
  background-image url(../images/holiday__banner.jpg)
  background-position center
  background-repeat no-repeat
  background-size cover
  text-align center
  padding 60px 0

.holidays__banner-cntnt
  display inline-block
  max-width 600px

.holidays__banner-cntnt-ttl,
.holidays__banner-cntnt-txt
  text-align left

.holidays__banner-cntnt-ttl
  font-size 50px
  line-height .9em
  font-weight 600
  color #fff
  margin-bottom 30px

.holidays__banner-cntnt-txt
  font-size 20px
  line-height 1.1em
  color #fff
  font-weight 300

.holiday__text-ttl
  color #4c4c4c
  font-weight 600
  font-size 24px
  text-align center
  margin-bottom 10px

.holiday__text-txt
  color #4c4c4c
  font-size 18px
  line-height 1.2em
//! /Праздники - Главная
