//! Праздники
.header__holidays-bg
  background-image url(../images/header__holidays.jpg)

.bg-holidays
  background-image url(../images/holidays_bg.png)
  background-position left bottom
  background-repeat no-repeat



//! /Праздники
