extends ../templates/template-simple

block content  
  // Header 
  +header__simple('header__holidays', 'Праздники и традиции Китая')
  // /Header 
  .bg__right
    .bg__left
      +breabcrumbs()
      // Контент
      .container
        .row
          .col-12.col-md-6.col-lg-3.mb-4
            +blockTxtTop('Здесь последние актуальные новости', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
          .col-12.col-md-6.col-lg-3.mb-4
            +blockTxtTop('Здесь последние актуальные новости', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
          .col-12.col-md-6.col-lg-3.mb-4
            +blockTxtTop('Здесь последние актуальные новости', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
          .col-12.col-md-6.col-lg-3.mb-4
            +blockTxtTop('Здесь последние актуальные новости', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
          .col-12.col-md-6.col-lg-3.mb-4
            +blockTxtTop('Здесь последние актуальные новости', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
          .col-9
            .block-grey
    // /Контент    
  // УТП
  .main__utp
    +utp1('Качественные переводы с китайского языка', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке', 'Оформить заявку', 'main-utp-btn')
  // /УТП
  .main__bg-bottom
    .container
      .row
        .col-12
          .gos-standarts__adv-full-width-wrap
            +advFullWidth()
      .row
        .col-12
          +seo-center()
  // /Контент
