extends ../templates/template-simple

block content  
  // Header 
  +header__simple('header__holidays-bg', 'Китайские сайты и полезные ссылки')
  // /Header 
  .doska.bg-grey.pb-5
    .bg__right
      +breabcrumbs()
      // Контент
      .container
        .row.mt-5
          .col-12.col-md-4.mb-5.mb-md-0
            +sideMenu()
            .mt-4.mb-4
              +left-links()
          .col-12.col-md-8
            .trans-item
              +blockTxtLeft('Название праздника', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке', '#')
            .trans-item
              +blockTxtLeft('Название праздника', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке', '#')
            .trans-item
              +blockTxtLeft('Название праздника', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке', '#')
            .trans-item
              +blockTxtLeft('Название праздника', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке', '#')
      // /Контент
    
  // УТП
  +utp1('Качественные переводы с китайского языка', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке', 'Оформить заявку', 'take-order')
  // /УТП
  .main__bg-bottom
    .container
      .row
        .col-12
          .gos-standarts__adv-full-width-wrap
            +advFullWidth()
  // /Контент
