extends ../templates/template-simple

block content  
  // Header 
  +header__simple('kitaevedi__header-bg header_kitaevedi', 'Современные китаеведы и научно-исследовательские институты')
  // /Header 
  .bg__right
    +breabcrumbs()
    // Контент
    .container
      .row
        .col-12
          .gosustroy__intro В разделе Современные китаеведы и исследовательские институты, научные Интернет-ресурсы вы найдете информацию об авторитетных исследорваниях Китая, о сферах приложения их интересов и научных трудах. Здесь также представлены ссылки на необходимые исследователю Интернет -ресурсы - бибилиотеки , научные журналы и др.
      .row.mt-5
        .col-12.col-md-4.mb-5.mb-md-0
          +sideMenu()
          .trans__links.mb-4.mt-4
            .trans__links-ttl Здесь могут быть ссылки
            .trans__links-items
              a(href='#' target='_blank').trans__links-item Название полезной ссылки
              a(href='#' target='_blank').trans__links-item Название полезной ссылки
              a(href='#' target='_blank').trans__links-item Название полезной ссылки
              a(href='#' target='_blank').trans__links-item Название полезной ссылки
              a(href='#' target='_blank').trans__links-item Название полезной ссылки
              a(href='#' target='_blank').trans__links-item Название полезной ссылки
              a(href='#' target='_blank').trans__links-item Название полезной ссылки
              a(href='#' target='_blank').trans__links-item Название полезной ссылки
        .col-12.col-md-8
          // Текст объявления
          .side-text-right
            .side-text-right__ttl
              +ttl-left('Евгения Савченко')
            .doska-inner__description.mb-4.mt-4.flex-column.flex-lg-row
              .doska-inner__description-photo(style='background-image: url(images/doska-inner__img.jpg)').mb-3
              .doska-inner__description-txt
                .doska-inner__description-txt-row
                  .doska-inner__description-txt-row-ttl Специальность: 
                  .doska-inner__description-txt-row-txt Китаевед
                .doska-inner__description-txt-row
                  .doska-inner__description-txt-row-ttl Год рождения: 
                  .doska-inner__description-txt-row-txt 1986 г.
                .doska-inner__description-txt-row
                  .doska-inner__description-txt-row-ttl Местоположение: 
                  .doska-inner__description-txt-row-txt г. Москва
                .doska-inner__description-txt-row
                  .doska-inner__description-txt-row-ttl Опыт работы: 
                  .doska-inner__description-txt-row-txt Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру
            .side-text-right_txt
              p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
              p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
              p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
              p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
          // /Текст объявления
      .row
        .col-12.mt-5.mb-4
          .kitaevedi__items-wrap
            .kitaevedi__inst-ttl
              +ttl-left('Современные китаеведы')
            .kitaevedi__items-separ
        // Слайдер китаеведы
        mixin kitaevedi__item(classes)
          a.kitaevedi__items-item(href='#' class= classes)
            .kitaevedi__items-item-img(style='background-image: url(images/doska-inner__img-round.jpg)')
            .kitaevedi__items-item-ttl Евгения Савченко
            .kitaevedi__items-item-descr Краткое описание китаеведа, информация о нем, откуда, какие.
        .col-12.mb-5
          .trans-inner__slider.kitaevedi__slider
            .trans-inner__slider-item-wrap
              +kitaevedi__item()
            .trans-inner__slider-item-wrap
              +kitaevedi__item()
            .trans-inner__slider-item-wrap
              +kitaevedi__item()
            .trans-inner__slider-item-wrap
              +kitaevedi__item()
            .trans-inner__slider-item-wrap
              +kitaevedi__item()
            .trans-inner__slider-item-wrap
              +kitaevedi__item()
            .trans-inner__slider-item-wrap
              +kitaevedi__item()
            .trans-inner__slider-item-wrap
              +kitaevedi__item()
            .trans-inner__slider-item-wrap
              +kitaevedi__item()
            .trans-inner__slider-item-wrap
              +kitaevedi__item()
        // /Слайдер китаеведы
      // Слайдер Институты
      .row
        .col-12.mt-5.mb-4
          .kitaevedi__inst-ttl
            +ttl-left('Научно-исследовательские институты')
      .kitaevedi__inst-items
        .row
          .col-12.mb-5.p-0
            .trans-inner__slider.nii__slider
              .nii__slider-item-wrap
                +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
              .nii__slider-item-wrap
                +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
              .nii__slider-item-wrap
                +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
              .nii__slider-item-wrap
                +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
              .nii__slider-item-wrap
                +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
              .nii__slider-item-wrap
                +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
              .nii__slider-item-wrap
                +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
              .nii__slider-item-wrap
                +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
              .nii__slider-item-wrap
                +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
              .nii__slider-item-wrap
                +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
              .nii__slider-item-wrap
                +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
              .nii__slider-item-wrap
                +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
      // /Слайдер Институты
    // /Контент
  .main__bg-bottom
    .container
      .row
        .col-12
          .gos-standarts__adv-full-width-wrap
            +advFullWidth()
  // /Контент
  block customScripts
    script(src='assets/kitaevedi-inner.js')
