extends ../templates/template-simple

block content  
  // Header 
  +header__simple('kitaevedi__header-bg header_kitaevedi', 'Современные китаеведы и научно-исследовательские институты')
  // /Header 
  .bg__right
    +breabcrumbs()
    // Контент
    .container
      .row
        .col-12
          .gosustroy__intro В разделе Современные китаеведы и исследовательские институты, научные Интернет-ресурсы вы найдете информацию об авторитетных исследорваниях Китая, о сферах приложения их интересов и научных трудах. Здесь также представлены ссылки на необходимые исследователю Интернет -ресурсы - бибилиотеки , научные журналы и др.
      // Карточки Китаеведов
      .row
        .col-12.mt-5.mb-4
          .kitaevedi__items-wrap
            .kitaevedi__items-ttl Современные китаеведы
            .kitaevedi__items-separ
      // Строка 1
      .kitaevedi__items-wrap
        .kitaevedi__items
          +kitaevedi__item()
          +kitaevedi__item()
          +kitaevedi__item()
          +kitaevedi__item()
        // Строка 2
        .kitaevedi__items
          +kitaevedi__item()
          +kitaevedi__item()
          +kitaevedi__item()
          +kitaevedi__item()
      .kitaevedi__items-separ 
      // /Карточки Китаеведов     
      .row
        .col-12.mt-5.mb-4
          .kitaevedi__inst-ttl
            +ttl-left('Научно-исследовательские институты')
      .kitaevedi__inst-items
        .row
          .col-12.col-md-6.col-lg-3.mb-4.kitaevedi__inst-items-item
            +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', 'kitaevedi-inner.html')
          .col-12.col-md-6.col-lg-3.mb-4.kitaevedi__inst-items-item
            +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', 'kitaevedi-inner.html')
          .col-12.col-md-6.col-lg-3.mb-4.kitaevedi__inst-items-item
            +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', 'kitaevedi-inner.html')
          .col-12.col-md-6.col-lg-3.mb-4.kitaevedi__inst-items-item
            +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', 'kitaevedi-inner.html')
          .col-12.col-md-6.col-lg-3.mb-4.kitaevedi__inst-items-item
            +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', 'kitaevedi-inner.html')
          .col-12.col-md-6.col-lg-3.mb-4.kitaevedi__inst-items-item
            +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', 'kitaevedi-inner.html')
          .col-12.col-md-6.col-lg-3.mb-4.kitaevedi__inst-items-item
            +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', 'kitaevedi-inner.html')
          .col-12.col-md-6.col-lg-3.mb-4.kitaevedi__inst-items-item
            +blockTxtTop('Название института', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', 'kitaevedi-inner.html')
      // /Карточки Институтов      
    // /Контент
  .main__bg-bottom
    .container
      .row
        .col-12
          .gos-standarts__adv-full-width-wrap
            +advFullWidth()
        .col-12
          // Сео текст
          +seoText()
          // /Сео текст
  // /Контент
