//! Китаеведы - внутр.
.doska-inner__description-txt-row
  line-height 1.1em
  margin 10px 0

.trans__links-item
  line-height 1em
  padding-left 20px

// Слайдер
.kitaevedi__slider
  .kitaevedi__items-item
    display block
    border-top none
    border 1px solid #dadada
  .kitaevedi__items-item:focus
    outline none
  .trans-inner__slider-item-wrap
    height initial
  .kitaevedi__items-item-img
    width 190px
    height 190px

.nii__slider-item-wrap
  padding 15px
// /Слайдер


//! /Китаеведы - внутр.
