//! Ссылки
.header__holidays-bg
  background-image url(../images/header__holidays.jpg)

.bg-links
  background-image url(../images/links_bg.png)
  background-position left bottom
  background-repeat no-repeat

//! /Ссылки
