<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" type="image/png" href="images/favicon.png")
    title Document
    // JQuery 
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    // Bootstrap 
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    // FontAwesome 
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    // Стили 
    link(rel='stylesheet' type='text/css' href='assets/style.css')
    // Шрифты
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic" rel="stylesheet")
  body
    //- Подключаем миксины
    include ../blocks/mixins
    // Header 
    include ../blocks/header__main
    // Важные новости
    .main__news
      .container
        .row
          .col-12
            .main__news-ttl
              +ttl-left('Важные новости')
        .row.mb-4
          .col-6
            .main__news-welcome
              .main__news-welcome-ttl Добро пожаловать!
              .main__news-welcome-txt Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для
          .col-3
            +blockTxtTop('Здесь последние актуальные новости', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
          .col-3
            +blockTxtTop('Здесь последние актуальные новости', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
        .row.mb-4
          .col-9
            +blockTxtLeft('Здесь последние актуальные новости', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный', '#')
          .col-3
            +advBanner()
      
    // /Важные новости
    // Footer 
    include ../blocks/footer
