extends ../templates/template-simple

block content  
  // Header 
  +header__simple('gosustroy__header-bg', 'Новости')
  // /Header 
  .bg__right2
    +breabcrumbs()
    // Контент
    .container.pb-5
      .row
        .col-12.col-md-4.mb-4          
          +sideMenu()
        .trans-items.col-12.col-md-8
          .trans-item
            +blockTxtLeft('Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более ', 'news-inner.html')
          .trans-item
            +blockTxtLeft('Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более ', 'news-inner.html')
          .trans-item
            +blockTxtLeft('Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более ', 'news-inner.html')
          .trans-item
            +blockTxtLeft('Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более ', 'news-inner.html')
          .trans__pagination
            +pagination()  
  // УТП
  .main__utp
    +utp1('Качественные переводы с китайского языка', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке', 'Оформить заявку', 'main-utp-btn')
  // /УТП
  .main__bg-bottom
    .container
      .row
        .col-12
          .gos-standarts__adv-full-width-wrap
            +advFullWidth()
  // /Контент
