//! Для переводчиков
.trans__header-bg
  background-image url(../images/trans__header-bg.jpg)

.trans-item
  margin-bottom 20px
  .block-pic-left
    min-height 170px
  .block-pic-left__pic
    max-width 240px
    flex-shrink 0
  .block-pic-left__cntnt
    flex-shrink 1

.trans__links-items
  background-color #faffe9
  border 1px solid textGreen
  padding 20px 0

.trans__links-item
  display block
  color #000
  font-size 18px
  font-weight 600
  padding 2px 20px 2px 40px

.trans__links-item:hover
  color #000

.trans__links-ttl
  font-size 24px
  line-height 24px
  font-weight 600
  color #fff
  text-align center
  background-color #adc85a
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content center
  align-items center
  height 55px
  padding-bottom 2px

.trans__pagination
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content flex-end

//! /Для переводчиков
