extends ../templates/template-simple

block content  
  // Header 
  +header__simple('trans__header-bg', 'Для переводчиков')
  // /Header 
  .bg__right
    +breabcrumbs()
    // Контент
    .container
      .row
        .col-12.col-md-4
          .trans__adv.mb-4.mb-md-0
            +advBanner()
        .trans-items.col-12.col-md-8
          .trans-item
            +blockTxtLeft('Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более ', '#')
          .trans-item
            +blockTxtLeft('Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более ', '#')
          .trans-item
            +blockTxtLeft('Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более ', '#')
          .trans-item
            +blockTxtLeft('Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более ', '#')
          .trans-item
            +blockTxtLeft('Заголовок статьи', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более ', '#')
  
  // УТП
  .main__utp
    +utp1('Качественные переводы с китайского языка', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке', 'Оформить заявку', 'main-utp-btn')
  // /УТП
  .main__bg-bottom
    .container
      .row
        .col-12
          .gos-standarts__adv-full-width-wrap
            +advFullWidth()
  // /Контент
