/*! Footer */
footer
  background-color bgnav
  position relative
  height 800px
  padding-top 40px

.footer__house-img
  position absolute
  left 0
  bottom 0

.footer__ornament
  position absolute
  width 100%
  bottom 0
  left 0
  height 40px
  background-image url('../images/footer__ornament.png')
  background-size cover
  background-repeat repeat-x

.footer__txt
  font-size 18px
  font-weight 300
  color lightgrey
  line-height 20px

.footer__logo
  margin-bottom 20px

/*! /Footer */
