footer
  img.footer__house-img(src='images/footer__house.png')
  .footer__ornament
  .container
    .row
      .col-5
        img.footer__logo(src='images/logo__header.png')
        .footer__txt Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык            
      .col-4
        .footer__contacts
          .footer__contacts-ttl Контакты
          .footer__contacts-phones
            .footer__contacts-phones-icon
              img.footer__contacts-phones-icon-img(src='images/footer__telephone.png')
          .footer__contacts-mail
            .footer__contacts-phones-icon
              img.footer__contacts-phones-icon-img(src='images/footer__mail.png')
        .footer__socials
          .footer__socials-ttl
          .footer__socials-items
            .footer__socials-items-item
            .footer__socials-items-item
            .footer__socials-items-item
            .footer__socials-items-item
      .col-3
// Скрипты 
// Bootstrap
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
script(type="text/javascript" src="assets/scripts.js")
