header.header__main
  include navbar
  // Слайдер
  .main__slider
    .container
      .row
        .col-12
          .main__slider-txt
            .main__slider-txt-row.main__slider-txt-row-1 Бамбук
            .main__slider-txt-row.main__slider-txt-row-2 информационно-научный
            .main__slider-txt-row.main__slider-txt-row-3 портал о
              span.main__slider-txt-row-3-span Китае
