// Нав меню 
.navbar
  .container
    .row.w-100.m-auto
      .col-12.d-flex.justify-content-between.align-items-center.flex-column.flex-md-row
        .navbar__logo
          img.navbar__logo-img(src='images/logo__header.png')
        .navbar__navs.flex-column.flex-lg-row.w-lg-100
          a(href='#').navbar__navs-nav-a Законы КНР
          .navbar__navs-separ
          a(href='#').navbar__navs-nav-a Заказать перевод
          .navbar__navs-separ
          a(href='#').navbar__navs-nav-a Полезные ссылки
          .navbar__navs-separ
          a(href='#').navbar__navs-nav-a Китаеведы, НИИ
          .navbar__navs-separ
          .navbar__navs-more Еще
        .navbar__contacts
          .navbar__contacts-item
            img.navbar__contacts-item-phone-img(src='images/navbar__phone.png')
            .navbar__contacts-item-txt +375 44 265 25 12
          .navbar__contacts-item
            img.navbar__contacts-item-mail-img(src='images/navbar__mail.png')
            .navbar__contacts-item-txt infoport@gmail.com
        .navbar__search.mt-3.mt-lg-0
          input(type='text').navbar__search-input
          .navbar__search-img
          
// /Нав меню 
