// Нав меню 
.navbar
  .container
    .row.w-100.m-auto.pb-3.pt-3.pb-md-0.pt-md-0
      .col-12.d-flex.justify-content-between.align-items-center.flex-column.flex-md-row.p-0
        .navbar__logo
          a(href='main.html')
            img.navbar__logo-img(src='images/logo__header.png')
        .navbar__navs.flex-column.flex-lg-row.w-lg-100
          .navbar__navs-nav
            a(href='buro.html').navbar__navs-nav-a Бюро переводов
            .navbar__navs-nav_inner-label.d-none.d-lg-inline-block
            .navbar__navs-nav-inner.d-none.d-lg-inline-block
              a(href='vostokovedi.html').navbar__navs-inner-a Переводы с китайского языка
              a(href='vostokovedi.html').navbar__navs-inner-a Услуги переводчика
              a(href='vostokovedi.html').navbar__navs-inner-a Срочные переводы
              a(href='vostokovedi.html').navbar__navs-inner-a Письменные переводы
          .navbar__navs-separ
          .navbar__navs-nav
            a(href='trans.html').navbar__navs-nav-a Для переводчиков
            .navbar__navs-nav_inner-label.d-none.d-lg-inline-block
            .navbar__navs-nav-inner.d-none.d-lg-inline-block
              a(href='pravila-perevoda.html').navbar__navs-inner-a Правила перевода с китайского языка
              a(href='obrazci-perevodov.html').navbar__navs-inner-a Образцы переводов документов
              a(href='online-perevodchiki.html').navbar__navs-inner-a Онлайн-переводчики
          .navbar__navs-separ
          .navbar__navs-nav
            a(href='zakonod.html').navbar__navs-nav-a Законодательство Китая
            .navbar__navs-nav_inner-label.d-none.d-lg-inline-block
            .navbar__navs-nav-inner.d-none.d-lg-inline-block
              a(href='pravila-perevoda.html').navbar__navs-inner-a Переводы законов Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Конституция Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Законодательство Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Законы Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Гражданско-процессуальный кодекс Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Нормативно-правовые акты Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Правовая система Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Право Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Планы социально-экономического развития Китая
          .navbar__navs-separ
          .navbar__navs-nav
            a(href='gos-ustroistvo.html').navbar__navs-nav-a Государственное устройство
            .navbar__navs-nav_inner-label.d-none.d-lg-inline-block
            .navbar__navs-nav-inner.d-none.d-lg-inline-block
              a(href='pravila-perevoda.html').navbar__navs-inner-a Административно-территориальное деление Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Политический строй Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Органы власти Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Правительство Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Состав Правительства Китая
              a(href='pravila-perevoda.html').navbar__navs-inner-a Глава Правительства Китая
          .navbar__navs-separ
          .navbar__navs-nav  
            a(href='holidays-main.html').navbar__navs-nav-a Праздники и традиции
          .navbar__navs-separ
          .navbar__navs-nav
            a(href='kitaevedi.html').navbar__navs-nav-a Китаеведы, НИИ
            .navbar__navs-nav_inner-label.d-none.d-lg-inline-block
            .navbar__navs-nav-inner.d-none.d-lg-inline-block
              a(href='vostokovedi.html').navbar__navs-inner-a Востоковеды
              a(href='kitaisti.html').navbar__navs-inner-a Китаисты
              a(href='sinologi.html').navbar__navs-inner-a Синологи
              a(href='znatoki.html').navbar__navs-inner-a Знатоки Китая
          .navbar__navs-separ
          .navbar__navs-nav
            a(href='gos-standarts.html').navbar__navs-nav-a Госстандарты КНР
            .navbar__navs-nav_inner-label.d-none.d-lg-inline-block
            .navbar__navs-nav-inner.d-none.d-lg-inline-block
              a(href='standarti-kachestva.html').navbar__navs-inner-a Стандарты качества
              a(href='standarti-knr.html').navbar__navs-inner-a Стандарты КНР
              a(href='sanitarnie-normi.html').navbar__navs-inner-a Санитарные нормы
        .navbar__contacts 
          .navbar__contacts-item
            img.navbar__contacts-item-phone-img(src='images/navbar__phone.png')
            .navbar__contacts-item-txt +375 44 265 25 12
          .navbar__contacts-item
            img.navbar__contacts-item-mail-img(src='images/navbar__mail.png')
            .navbar__contacts-item-txt infoport@gmail.com
        .navbar__search.mt-3.mt-lg-0
          form(method='post' action='/')
            input(type='text').navbar__search-input
            button(type='submit' style='display:none;')
            .navbar__search-img
// /Нав меню 
