/*! Главное меню */
.navbar
  width 100%
  padding 20px 0
  background-color bgnav
  opacity .96

.navbar__navs
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content space-between
  width 100%
  max-width 620px
  flex-wrap wrap
  padding 10px
@media screen and (max-width 768px)
  .navbar__navs
    width initial

.navbar__navs-nav-a
  color lightgrey
  transition .2s ease
.navbar__navs-nav-a:hover
  text-decoration none
  color #fff

.navbar__contacts
  padding-right 10px

.navbar__contacts-phone
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction column

.navbar__contacts-item
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction row
  align-items center
  color textGreen
  font-size 16px

.navbar__contacts-item-txt
  padding-left 8px

.navbar__search
  position relative
  min-width 36px
  height 30px

.navbar__search-input
  position absolute
  background-color transparent
  border 1px solid lightgrey
  height 100%
  width 36px
  top 0
  right 0
  transition .2s ease
  color #fff
  padding-left 10px
.navbar__search-input:focus
  background-color bgnav
  outline none
  width 200px

.navbar__search:before
  content ''
  position absolute
  top 3px
  bottom 3px
  right 3px
  left 3px
  background-image url('../images/navbar__search.png')
  background-repeat no-repeat
  background-position center
  background-size contain

.navbar__navs-separ
  width 1px
  background-color #fff
  // margin 0 20px

.navbar__navs-more
  color lightgrey

/* /Главное меню */
